div.content{
    width: 100%;
    min-height: 80vh;
}

div.posts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

div.post{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-bottom: 30px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.post:last-child{
    margin-bottom: 0;
}

div.post>div:first-child{
    flex: 1;
}

div.post>div:last-child{
    flex: 3;
}

div.post>div {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

div.post>div>img {
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-fit: cover;
}

div.post div.post-attachment{
    max-height: 20px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.post>div>div.post-attachment:first-of-type {
    margin-top: 20px;
}

div.post div.post-attachment p{
    font-size: 0.9em;
    margin: 0;
    display: inline-block;
}

div.post div.post-attachment a img{
    width: 10px;
    height: 10px;
}

div.post div button{
    align-self: flex-end;
    justify-self: flex-end;
}

div.post div:last-child>p{
    flex: 2;
}

div.post div:last-child>p>p{
    margin: 0;
}

div.post div:last-child h2{
    margin: 0;
    margin-bottom: 5px;
}

@media only screen and (max-width: 680px) {
    div.post{
        width: 90%;
    }
}