div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.content div.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-container {
    max-width: 1200px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-container.centered{
    padding: 0.5em 0.5em;
}

.centered {
    width: 60%;
    max-width: 800px;
    text-align: center;
}

.centered>div {
    width: 100%;
}

.multicolumn {
    display: flex;
    gap: 1em;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5em 1em;
    width: 95%;
    align-items: flex-start;
}

.justified{
    text-align: justify;
}

.multicolumn.wide>div {
    flex: 1;
}

.multicolumn>div {
    height: 100%;
}

.text-content {
    padding-left: 1em;
}

.open-hours {
    display: grid;
    grid-template-columns: auto auto;
}

.open-hours>p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    text-align: left;
}

div.content div.photo-static {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

div.content div.photo {
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    width: 100%;
    height: 300px;
}

@media (max-width: 600px) {
    .centered {
        width: auto;
    }

    div.content div.photo {
        height: 200px;
        background-attachment: local;
    }

    .multicolumn {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

}

/* home page */

div.content div.photo-1 {
    background-image: url(../images/photo_home_1.jpg);
    height: 300px;
}

div.content div.photo-main {
    height: 400px;
}

div.content div.photo-2 {
    background-image: url(../images/photo_home_2.jpg);
    height: 200px;
}

div.content div.shortcut-menu-page {
    width: 60%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

div.content div.shortcut-menu-page div#shortcut {
    width: 100%;
}

div.content div.shortcut-menu-page div#shortcut a {
    min-width: 140px;
    padding: 0 10px;
}

div.content div#shortcut {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0 20px 0;
}

div.content div#shortcut a{
    min-width: 160px;
    margin: 10px 10px;
    padding: 5px 20px;
    flex: 1;
    background-color: var(--accent-1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    color: var(--white-1);
    text-decoration: none;
}

div.content div#shortcut a:hover {
    background-color: var(--accent-1-light);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
    color: var(--white-1);
}

/*a:link, a:visited, a:active {*/
/*    color: var(--white-1);*/
/*}*/

div.content div#shortcut a div h3 {
    text-align: center;
    white-space: nowrap;
}

