div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.content div.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;
}

.section-container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-container.centered{
    padding: 0.5em 0.5em;
}

.centered {
    width: 60%;
    max-width: 800px;
    text-align: center;
}

.centered>div {
    width: 100%;
}

.multicolumn {
    display: flex;
    gap: 2em;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 0.5em 1.5em 0.5em;
    width: 95%;
    align-items: flex-start;
}

.justified{
    text-align: justify;
}

.multicolumn.wide>div {
    flex: 1;
}

.multicolumn>div {
    height: 100%;
}

.text-content {
    padding-left: 1em;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.5em;
}

.grid>p {
    margin-top: 0;
    margin-bottom: auto;
    margin-left: 0;
    text-align: left;
    padding: 0.3em 0.7em
}

.photo {
    background-size: cover;
    background-position: center;
    width: 100%;
}

:not(.thin).photo, :not(thick).photo {
    height: 300px;
}

.thick.photo {
    height: 400px;
}

.thin.photo {
    height: 200px;
}

.spacer {
    height: 3em;
}

.grey {
    background-color: var(--accent-3-light);
}

td {
    padding: 0.3em 0.7em
}

@media (max-width: 600px) {
    .centered {
        width: auto;
    }

    .multicolumn {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

}

/* home page */

.slider-container {
    margin: 1em 0 2em 0;
    width: 100%;
}

div.slick-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 175px;
}

.slider-object-container {
    max-height: 150px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-object {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    object-fit: contain;
    max-height: 150px;
    max-width: 130px;
    cursor: pointer;
    background-color: var(--white-1);
}

.fullscreen-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullscreen-container>img {
    max-height: 80%;
    max-width: 80%;
    object-fit: contain;
    padding-bottom: 5%;
}

.fullscreen-container>a {
    max-height: 10%
}

#close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2em;
}

div.content div.shortcut-menu-page {
    width: 60%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
}

@media (max-width: 700px) {
    div.content div.shortcut-menu-page {
        width: 90%;
    }
}

div.content div.shortcut-menu-page div#shortcut {
    width: 100%;
}

div.content div.shortcut-menu-page div#shortcut a {
    min-width: 140px;
    padding: 0 10px;
}

div.content div#shortcut {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 15px;
}

div.content div#shortcut a{
    min-width: 160px;
    margin: 10px 10px;
    padding: 5px 20px;
    flex: 1;
    background-color: var(--accent-1);
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow: 0 4px 8px 0 rgba(15, 49, 126, 0.2), 0 6px 20px 0 rgba(15, 49, 126, 0.19);
    border-radius: 10px;
    color: var(--white-1);
    text-decoration: none;
}

div.content div#shortcut a:hover {
    background-color: var(--accent-1-light);
    /*box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow: 0 6px 10px 0 rgba(15, 49, 126, 0.2), 0 8px 22px 0 rgba(15, 49, 126, 0.19);
    color: var(--white-1);
}


div.content div#shortcut a div h3 {
    text-align: center;
    white-space: nowrap;
}

div.content div.vertical-centered>div#shortcut{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.content div.vertical-centered>div#shortcut>a{
    width: 50%;
    min-width: 200px;
}

@media (max-width: 800px) {
    div.content div.vertical-centered>div#shortcut>a{
        width: 70%;
    }
}

@media (max-width: 400px) {
    div.content div.vertical-centered>div#shortcut>a{
        width: 85%;
    }
}

@media (max-width: 1130px) {
    .shortcut-menu-page {
        padding-top: 4em;
        padding-bottom: 4em;
    }

    .photoless-content {
        padding-top: 4em;
    }
}

/* table styling */
table {
    /*max-width: 100%;*/
    margin: 4px;
}

table,
table td {
    border: 3px solid var(--accent-1-light);
}

table td {
    padding: 0.3em 0.7em;
}

table thead {
    font-family: "Rowdies", sans-serif;
    text-align: center;
}

table thead td{
    border-color: var(--accent-1);
}

table td * {
    margin: 0;
}

@media (max-width: 600px) {
    table,
    table td {
        padding: 0.3em;
        border-width: 2px;
    }

    table {
        max-width: 95%;
        width: 95% !important;
        font-size: 0.7em;
    }
}

table.no-border-table {
    font-size: 1em;
    border: none;
}

table.no-border-table td {
    border: none;
}