div.posts-container{
    max-width: 1200px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 5% 30px 5%;
}

div.post{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-bottom: 30px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.post.post-left {
    flex-direction: row-reverse;
}

div.post:last-child{
    margin-bottom: 0;
}

div.post>div:first-child{
    flex: 1;
    /*max-width: 300px;*/
    min-width: 250px;
    overflow: hidden;
}

div.post>div:last-child{
    flex: 2;
    min-width: 200px;
}

div.post>div {
    margin: 10px;
    display: flex;
    flex-direction: column;
}


/*post gallery*/
div.post>div>div.image-gallery{
    width: 100%;
}

div.post>div>div.image-gallery img.image-gallery-image {
    height: 170px;
    object-fit: cover;
}

div.post>div>div.image-gallery .fullscreen {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.post>div>div.image-gallery .fullscreen img.image-gallery-image {
    height: unset;
    max-height: 80vh;
    max-width: 90vw;
}

div.post>div>div.image-gallery div.image-gallery-thumbnails-container {
    display: flex;
    max-height: 50px;
    overflow: hidden;
}

div.post>div>div.image-gallery div.image-gallery-thumbnails-container button {
    flex: 1;
    max-height: 45px;
    max-width: 45px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-inner {
    max-height: 45px;
    max-width: 45px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
    max-height: 45px;
    max-width: 45px;
    object-fit: cover;
}

/*icons*/
div.post>div>div.image-gallery .image-gallery-left-nav,
div.post>div>div.image-gallery .image-gallery-right-nav{
    padding: 0;
}

div.post>div>div.image-gallery .image-gallery-left-nav .image-gallery-svg,
div.post>div>div.image-gallery .image-gallery-right-nav .image-gallery-svg{
    height: 70px;
    width: 35px;
}

div.post>div>div.image-gallery .image-gallery-fullscreen-button,
div.post>div>div.image-gallery .image-gallery-play-button {
    padding: 10px;
}

div.post>div>div.image-gallery .image-gallery-fullscreen-button .image-gallery-svg,
div.post>div>div.image-gallery .image-gallery-play-button .image-gallery-svg {
    height: 20px;
    width: 20px;
}

/*icons fullscreen*/
div.post>div>div.image-gallery .fullscreen .image-gallery-left-nav,
div.post>div>div.image-gallery .fullscreen .image-gallery-right-nav{
    padding: 10;
}

div.post>div>div.image-gallery .fullscreen .image-gallery-left-nav .image-gallery-svg,
div.post>div>div.image-gallery .fullscreen .image-gallery-right-nav .image-gallery-svg{
    height: 120px;
    width: 60px;
}

div.post>div>div.image-gallery .fullscreen .image-gallery-fullscreen-button,
div.post>div>div.image-gallery .fullscreen .image-gallery-play-button {
    padding: 20px;
}

div.post>div>div.image-gallery .fullscreen .image-gallery-fullscreen-button .image-gallery-svg,
div.post>div>div.image-gallery .fullscreen .image-gallery-play-button .image-gallery-svg {
    height: 36px;
    width: 36px;
}


div.post>div>div.image-gallery .image-gallery-icon:hover {
    color: var(--accent-1);
}
div.post>div>div.image-gallery .image-gallery-thumbnail.active,
div.post>div>div.image-gallery .image-gallery-thumbnail:hover,
div.post>div>div.image-gallery .image-gallery-thumbnail:focus {
    border-color: var(--accent-1);
}





div.post>div>div>a.post-attachment:first-of-type {
    margin-top: 10px;
}

div.post>div>div>a.post-attachment:last-of-type {
    margin-bottom: 20px;
}

div.post div button.post-button{
    align-self: flex-end;
    justify-self: flex-end;
    width: 10em;
}

div.post.post-left div button {
    align-self: flex-start;
}

div.post div:last-child>p{
    flex: 2;
}

div.post div:last-child>p>p{
    margin: 0;
    /*display: inline;*/
}

div.post div:last-child>p * {
    font-size: 14px;
}

div.post div:last-child h2{
    margin: 0;
    margin-bottom: 5px;
}

@media only screen and (min-width: 1600px) {
    div.post>div:last-child{
        flex: 4;
    }
}

@media only screen and (min-width: 1300px) {
    div.post>div>div.image-gallery {
        width: 100%;
        min-width: 200px;
    }
}

@media only screen and (max-width: 960px) {
    div.post{
        width: 80%;
    }
}

@media only screen and (max-width: 750px) {
    div.post{
        width: 90%;
        padding: 2px;
    }

    div.posts-container {
        width: 95%;
    }
}

@media only screen and (max-width: 666px) {
    div.post>div:first-child>div{
        flex: 1;
    }

    div.post>div>div.image-gallery {
        width: 100%;
        height: 250px;
        min-width: 200px;
    }

    div.post>div:first-child>div{
        min-width: 70px;
    }

}

@media only screen and (max-width: 543px) {
    div.post.post-left div button {
        align-self: flex-end;
    }
}

@media only screen and (max-width: 370px) {
    div.post>div:last-child{
        min-width: 200px;
    }
}