div.posts-container{
    max-width: 1200px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 5% 30px 5%;
}

div.post{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    max-height: 210px;
    margin-bottom: 30px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    transition-delay: 0s;
}

div.post.post-empty {
    height: 210px;
    width: 70%;
}

.post-text div.after {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
    var(--white-1) 30%,
    rgba(255,255,255, 0) 70%
    );
    pointer-events: none; /* so the text is still selectable */
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.post-text {
    margin-top: 1em;
    margin-bottom: 3em;
    overflow: hidden;
}

.post-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.post.post-left {
    flex-direction: row-reverse;
}

div.post:last-child{
    margin-bottom: 0;
}

div.post div.post-image-container{
    flex: 1;
    z-index: 1;
    min-width: 250px;
    overflow: hidden;
}

div.post div.post-content-container{
    flex: 2;
    min-width: 250px;
}

div.post>div {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

div.post>div>div>a.post-attachment:first-of-type {
    margin-top: 10px;
}

div.post>div>div>a.post-attachment:last-of-type {
    margin-bottom: 20px;
}

div.post button.post-button{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10em;
    margin: 20px;
}

div.post.post-left button.post-button {
    right: unset;
    left: 0;
}

div.post div.post-content-container p{
    flex: 2;
}

div.post div.post-content-container p{
    margin: 0;
    /*display: inline;*/
}

div.post div.post-content-container>p * {
    font-size: 14px;
}

div.post div.post-content-container h2{
    margin: 0;
    margin-bottom: 5px;
}

@media only screen and (min-width: 1600px) {
    div.post div.post-content-container {
        flex: 4;
    }
}

@media only screen and (max-width: 1130px) {
    .news{
        padding-top: 4em;
        padding-bottom: 4em;
    }
}

@media only screen and (max-width: 960px) {
    div.post{
        width: 80%;
    }
}

@media only screen and (max-width: 750px) {
    div.post{
        width: 90%;
        padding: 2px;
    }

    div.posts-container {
        width: 95%;
    }
}

@media only screen and (max-width: 666px) {
    div.post div.post-image-container>div{
        flex: 1;
    }

    div.post div.post-image-container>div{
        min-width: 70px;
    }

}

@media only screen and (max-width: 636px) {
    div.post{
        max-height: 420px;
    }

    .post-text div.after {
        background: linear-gradient(to top, var(--white-1) 20%, rgba(255,255,255, 0) 80%);
        height: 60%;
    }

    div.post.post-left button.post-button {
        right: 0;
        left: unset;
    }
}

@media only screen and (max-width: 370px) {
    div.post div.post-content-container {
        min-width: 200px;
    }
}