div.water-examine-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.water-examine-element {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

a.water-examine-attachment {
    width: 50%;
}