@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');

:root {
    --font-dark: rgb(19, 15, 83);
    --white-1: rgb(246, 246, 246);
    --white-2: rgb(242, 242, 242);
    --accent-1: rgba(65, 111, 216, 1.0);
    /*--accent-1: rgb(0, 82, 165);// <- podoba mi sie ten */
    --accent-1-light: rgb(122, 158, 239);
    --accent-1-faded: rgb(65, 111, 216);
    --accent-2: rgb(238, 204, 35);
    --accent-2-light: rgb(241, 218, 105);
    --accent-2-faded: rgb(238, 204, 35);
    --accent-3: rgb(112, 112, 112)
}

html {
    height: 100%;
    box-sizing: border-box;
}


body {
    font-family: "Nunito", sans-serif;
    min-width: 360px;
    position: relative;
    margin: 0;
    padding: 0 0 0;
    min-height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*h1, h2, h3 {*/
/*    font-family: "Rowdies", cursive;*/
/*}*/